
#art-home .art-container {
  
  grid-template-columns: repeat(2,1fr);
  
}



@media(max-width:500px){
  
#navbar .social {
 display: flex;
 margin: 1rem;
}
.showcase-content p {
  display: none;
}
#art-home .art-container {
  
  grid-template-columns: repeat(1,1fr);
  
}

footer img {
  width: 40px;
}
.footer-container {
  grid-template-columns: repeat(1,auto);
  margin: 1rem;
}
.page-container {
  grid-template-columns: repeat(1,1fr)
}
}